h1 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: orange;
  font-size: 26px;
}

li{
  list-style-type: none;
}

.topnav {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

}

.topnav a{
  float: left;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover{
  background-color: grey;
  color: black;
}

.topnav a:active {
  background-color: grey;
  color: white;
}

h2 {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: orange;
  font-size: 18px;
}

p{
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: grey;
  font-size: 14px;
}

body{
  background:;
  text-align: center;
}

header{
  align-items: center;

}

.content {
  max-width: 960px;
  margin:auto;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  align:center;
}

@media (max-width:650px) {
  .column {
    width: 100px;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.container {
  padding: 0 16px;
}

.container::after, .row::after{
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover{
  background-color: #555;
}

.advert {
  align: center;
  padding: 8px;
  display: inline;
  width: 95%;
  height: auto;

}
