h1 {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: orange;
  font-size: 30px;
}

li{
  list-style-type: none;
}

.topnav {
  overflow: hidden;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;

}

#iefix {
position:relative;
z-index:1000;
}



.topnav a{
  float: left;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover{
  background-color: grey;
  color: black;
}

.topnav a:active {
  background-color: grey;
  color: white;
}

h2 {
  text-align: left;
  font-family: 'Russo One', sans-serif;
  color: orange;
  font-size: 30px;
}

p{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 18px;
}

body{
  background:;
  text-align: center;
}

header{
  align-items: center;

}

.content {
  max-width: 960px;
  margin:auto;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  align:center;
}

@media (max-width:650px) {
  .column {
    width: 100px;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.container {
  padding: 0 16px;
}

.container::after, .row::after{
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover{
  background-color: #555;
}

.advert {
  align: center;
  padding: 8px;
  display: inline;
  width: 95%;
  height: auto;

}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: right;
  width: 50%;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;

}

/* Extra styles for the cancel button */


/* Float cancel and signup buttons and add an equal width */


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
